target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
*.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.oracle.com/technetwork/java/javase/community/error-report-138290.html
hs_err_pid*
replay_pid*

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
mvnw
mvnw.cmd

.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.settings/
.classpath

# Compiled frontend resources
/src/main/resources/static/node_modules/
.DS_Store
