target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
*.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
mvnw
mvnw.cmd

.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.settings/
.classpath

# Node / Frontend
node_modules/
package-lock.json
/src/main/resources/static/node_modules/
.DS_Store

# Temporary / Scratch files
test*.js
server_start.log
